/****** Object:  Database [InspectorsDB]    Script Date: 06.12.2021 13:29:25 ******/
CREATE DATABASE [InspectorsDB]
GO
USE [InspectorsDB]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 06.12.2021 13:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[VIN] [nvarchar](50) NOT NULL,
	[LicenceID] [int] NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [nvarchar](4) NOT NULL,
	[Weight] [int] NOT NULL,
	[Color] [int] NOT NULL,
	[EngineType] [int] NOT NULL,
	[DriveType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 13:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](10) NOT NULL,
	[RegistrationAddress] [nvarchar](300) NOT NULL,
	[LivingAddress] [nvarchar](300) NULL,
	[Company] [nvarchar](100) NULL,
	[Jobname] [nvarchar](100) NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licences]    Script Date: 06.12.2021 13:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licences](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[LicenceDate] [date] NOT NULL,
	[ExpireDate] [date] NOT NULL,
	[Categories] [nvarchar](10) NOT NULL,
	[Series] [nvarchar](4) NOT NULL,
	[Number] [nvarchar](6) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Licences] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportCategories]    Script Date: 06.12.2021 13:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCategories](
	[CategoryID] [nvarchar](5) NOT NULL,
	[Desctiption] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.12.2021 13:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([VIN], [LicenceID], [Manufacturer], [Model], [Year], [Weight], [Color], [EngineType], [DriveType]) VALUES (N'19UUA66218A797800', 84, N'Kia', N'Magentis / Optima', N'2003', 1603, 133, 1, N'rear drive')
INSERT [dbo].[Cars] ([VIN], [LicenceID], [Manufacturer], [Model], [Year], [Weight], [Color], [EngineType], [DriveType]) VALUES (N'1C4RJEAG6CC011603', 76, N'Kia', N'Cerato / Spectra', N'2009', 1692, 107, 1, N'front-wheel drive')
INSERT [dbo].[Cars] ([VIN], [LicenceID], [Manufacturer], [Model], [Year], [Weight], [Color], [EngineType], [DriveType]) VALUES (N'1C4RJEAG6FC571030', 35, N'Cadillac', N'Series 61', N'2015', 1677, 377, 2, N'front-wheel drive')
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID], [SecondName], [FirstName], [MiddleName], [Passport], [RegistrationAddress], [LivingAddress], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', N'2303160716', N'760832, 452 Cobblestone St.', N'', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [SecondName], [FirstName], [MiddleName], [Passport], [RegistrationAddress], [LivingAddress], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', N'5563160745', N'807042, Hyattsville, MD 20782', N'', N'Coca-Cola', N'Elementary School Teacher', N'8677084447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [SecondName], [FirstName], [MiddleName], [Passport], [RegistrationAddress], [LivingAddress], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', N'3719717453', N'83282, 9648 Philmont Lane', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'2214287850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Licences] ON 

INSERT [dbo].[Licences] ([ID], [DriverID], [LicenceDate], [ExpireDate], [Categories], [Series], [Number], [Status]) VALUES (1, 1, CAST(N'2019-01-13' AS Date), CAST(N'2027-07-03' AS Date), N'B', N'5640', N'613073', N'Active')
INSERT [dbo].[Licences] ([ID], [DriverID], [LicenceDate], [ExpireDate], [Categories], [Series], [Number], [Status]) VALUES (2, 2, CAST(N'2018-08-02' AS Date), CAST(N'2023-09-21' AS Date), N'B', N'7465', N'904246', N'Active')
INSERT [dbo].[Licences] ([ID], [DriverID], [LicenceDate], [ExpireDate], [Categories], [Series], [Number], [Status]) VALUES (3, 3, CAST(N'2018-12-31' AS Date), CAST(N'2025-01-25' AS Date), N'B, A', N'6750', N'769897', N'Active')
GO
SET IDENTITY_INSERT [dbo].[Licences] OFF
GO
INSERT [dbo].[TransportCategories] ([CategoryID], [Desctiption]) VALUES (N'A', N'L3')
INSERT [dbo].[TransportCategories] ([CategoryID], [Desctiption]) VALUES (N'A1', N'L3 на <= 125 см3 и макс. мощностью <= 11 киловатт (но не L1)')
INSERT [dbo].[TransportCategories] ([CategoryID], [Desctiption]) VALUES (N'B', N'M1/N1, разрешенная максимальная масса которых не превышает 3,5 тонн; M1/N1+O1; M1/N1')
GO
INSERT [dbo].[Users] ([Login], [Password]) VALUES (N'inspector', N'inspector')
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Licences] FOREIGN KEY([LicenceID])
REFERENCES [dbo].[Licences] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Licences]
GO
ALTER TABLE [dbo].[Licences]  WITH CHECK ADD  CONSTRAINT [FK_Licences_Drivers] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[Licences] CHECK CONSTRAINT [FK_Licences_Drivers]
GO
USE [master]
GO
